<script>
import Vue from 'vue';

export default Vue.extend({
  name: 'SpeakerSession',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <div style="background: #f6f3fe" class="slp-py-160">
    <SlpContainer>
      <nuxt-img
        style="width: 32px"
        src="/nuxt-images/icons/events/board-black.svg"
      />
      <SlpRow>
        <SlpColumn :cols="7">
          <SlpTypography variant="heading2-bold" tag="h2" class="slp-mb-32">
            {{ data.title }}
          </SlpTypography>
          <SlpTypography variant="body1-bold" tag="p" class="slp-mb-32">
            {{ data.description }}
          </SlpTypography>
          <SlpTypography v-if="data.list">
            <SlpTypography
              v-for="item in data.list"
              :key="item.title"
              tag="p"
              class="slp-pb-16"
            >
              <SlpTypography variant="body1-bold">
                {{ item.title }}:
              </SlpTypography>
              <SlpTypography>
                {{ item.value }}
              </SlpTypography>
            </SlpTypography>
          </SlpTypography>
          <SlpTypography variant="body1" tag="p" class="slp-mb-48">
            {{ data.body }}
          </SlpTypography>
          <SlpButton
            v-if="data.call_to_action"
            :href="data.call_to_action.button_link"
          >
            {{ data.call_to_action.button_text }}
          </SlpButton>
        </SlpColumn>
        <SlpColumn :cols="5">
          <div
            v-for="item in data.speakers"
            :key="item.name"
            class="slp-pb-32 slp-flex"
          >
            <div>
              <nuxt-img
                class="slp-pr-32"
                style="
                  width: 200px;
                  height: 150px;
                  object-fit: cover;
                  object-position: top;
                  border-radius: 4px 4px 90px 4px;
                "
                :src="`/nuxt-images/events/${item.image}`"
              />
            </div>
            <div>
              <SlpTypography variant="body1-bold" tag="p">
                {{ item.name }}
              </SlpTypography>
              <SlpTypography variant="body2" tag="p">
                {{ item.title }}
              </SlpTypography>
              <SlpTypography variant="body2-bold" tag="p">
                {{ item.company }}
              </SlpTypography>
            </div>
          </div>
          <SlpButton
            href="https://portal.awsevents.com/events/reInvent2022/sessions/PRT227?es_id=d5e7db90a3"
            >Reserve your seat</SlpButton
          >
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
  </div>
</template>
