<script lang="ts">
import Vue from 'vue';
import Tabs from './tabs.vue';
import TabsDropdown from './tabs-dropdown.vue';

export default Vue.extend({
  components: {
    Tabs,
    TabsDropdown,
  },
  props: {
    data: {
      type: Object,
      required: true,
      default() {
        return {};
      },
    },
  },
  data() {
    return {
      headers: [],
      selectedTab: 0,
      baseHarveyUrl: '/nuxt-images/competition/progress-bars/',
      rowDescriptionStatus: [],
    };
  },
  mounted() {
    this.setRowDescriptionStatusArray();
  },
  methods: {
    setSelectedTab(value: number) {
      this.selectedTab = value;
      this.setRowDescriptionStatusArray();
    },
    toggleRowDescription(rowIndex: number) {
      // Temporary toggle for the description feature until we get the content on MVC 4
      if (this.data.disable_descriptions) {
        return;
      }
      const updatedArray = [...this.rowDescriptionStatus];
      updatedArray[rowIndex] = !this.rowDescriptionStatus[rowIndex];
      this.rowDescriptionStatus = [...updatedArray];
    },
    setRowDescriptionStatusArray() {
      this.rowDescriptionStatus = new Array(
        this.data.tabs[this.selectedTab].rows.length,
      ).fill(false);
    },
  },
});
</script>

<template>
  <div class="tab-table">
    <Tabs
      :data="data"
      :selected-tab="selectedTab"
      @tab-change="setSelectedTab"
    />
    <div class="tab-table__container">
      <TabsDropdown
        :data="data"
        :selected-tab="selectedTab"
        @tab-change="setSelectedTab"
      />
      <table>
        <thead>
          <th class="header-feature">
            <SlpTypography variant="heading5-bold">Features</SlpTypography>
          </th>
          <th class="header-company">
            <div class="flex">
              <SlpTypography variant="heading5-bold" class="company-name"
                >GitLab</SlpTypography
              >
            </div>
          </th>
          <th
            v-for="(competitor, competitorIndex) in data.tabs[selectedTab]
              .competitors"
            :key="competitor.text"
            class="header-company"
            :class="{ bordered: !competitorIndex }"
          >
            <div class="flex">
              <SlpTypography variant="heading5-bold" class="company-name">
                <a :href="competitor.href">
                  {{ competitor.text }}
                </a>
              </SlpTypography>
            </div>
          </th>
          <th v-if="!data.disable_descriptions" class="header-button" />
        </thead>
        <tbody>
          <tr
            v-for="(row, rowIndex) in data.tabs[selectedTab].rows"
            :key="row.label"
            @click="toggleRowDescription(rowIndex)"
          >
            <td class="label">
              <SlpTypography variant="body2">{{ row.label }}</SlpTypography>
              <div
                v-if="rowDescriptionStatus[rowIndex] && row.description"
                class="description"
                v-html="$md.render(row.description)"
              />
            </td>
            <td class="harvey">
              <div class="cell-container">
                <img :src="`${baseHarveyUrl}${row.harvey1}.svg`" alt="" />
              </div>
            </td>
            <td class="competition harvey">
              <div class="cell-container">
                <img :src="`${baseHarveyUrl}${row.harvey2}.svg`" alt="" />
              </div>
            </td>
            <td class="competition harvey">
              <div class="cell-container">
                <img
                  v-if="row.harvey3 !== undefined"
                  :src="`${baseHarveyUrl}${row.harvey3}.svg`"
                  alt=""
                />
              </div>
            </td>
            <td
              v-if="!data.disable_descriptions"
              class="competition harvey button"
            >
              <div class="cell-container">
                <SlpIcon
                  v-if="rowDescriptionStatus[rowIndex] && row.description"
                  name="dash"
                  variant="product"
                  alt="Dash Icon"
                />
                <SlpIcon v-else name="plus" variant="product" alt="Plus Icon" />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<style lang="scss" scoped>
a {
  color: $color-text-300;
}
.tab-table {
  margin-top: $spacing-32;
  margin-bottom: $spacing-48;
  &__container {
    box-shadow: 0px 8px 50px -16px #d1d0d3;
    border-radius: 8px;
    max-height: 800px;
    overflow: scroll;
    table {
      border-collapse: collapse;
      @media (max-width: $breakpoint-md) {
        table-layout: fixed;
      }
      width: 100%;
      padding: $spacing-24 $spacing-48 0 $spacing-32;
      thead {
        position: sticky;
        top: 0;
      }
      .label {
        width: 40%;
      }
      .harvey {
        width: 200px;
        vertical-align: baseline;
        text-align: left;
      }
    }
    td,
    th {
      padding: 22px 0;
      padding-left: $spacing-8;
      @media (min-width: $breakpoint-md) {
        padding: 28px 0;
        padding-left: 32px;
      }
      text-align: left;

      &.bordered {
        @media (max-width: $breakpoint-md) {
          border-left: 1px solid #e8e7eb;
          border-right: 1px solid #e8e7eb;
        }
      }
    }
    th {
      padding-top: 24px;
      padding-bottom: 28px;
      background: white;
      &.header-feature {
        width: 40%;
      }
      &.header-button {
        width: 50px;
      }
      &.header-company {
        .flex {
          display: flex;
          justify-content: center;
          @media (max-width: $breakpoint-md) {
            height: 60px;
            align-items: center;
          }
        }
      }
      .company-name {
        &:hover {
          text-decoration: underline;
        }
        @media (max-width: $breakpoint-md) {
          transform: rotate(270deg);
          display: block;
        }
      }
    }
    td {
      border-top: 1px solid $color-surface-200;
      // cursor: pointer;
      .cell-container {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &.button {
        padding: 0;
        @media (max-width: $breakpoint-md) {
          padding-left: 20px;
        }
      }
      .description {
        margin-top: $spacing-32;

        &:deep(p) {
          margin-bottom: 16px;
        }

        &:deep(ul li) {
          list-style: disc;
          padding-left: 32px;
          list-style-position: inside;
        }
      }
    }
  }
}

.competition {
  background: $color-surface-100;
}
</style>
