<script>
export default {
  props: {
    filterLabel: {
      type: String,
      required: true,
    },
    grouped: {
      type: Boolean,
      required: false,
      default: false,
    },
    options: {
      type: Array,
      required: false,
      default: () => [],
    },
    optionGroups: {
      type: Array,
      required: false,
      default: () => [],
    },
    value: {
      type: Array,
      required: true,
    },
    buttonText: {
      type: String,
      required: false,
      default: 'Reset',
    },
  },
  data() {
    return {
      showDropdown: false,
      showGroups: {},
    };
  },
  beforeMount() {
    if (this.grouped) {
      this.optionGroups.forEach((group) => {
        this.$set(this.showGroups, group.label, false);
      });
    }
  },
  mounted() {
    document.addEventListener('click', this.closeDropdown);
  },
  beforeDestroy() {
    document.removeEventListener('click', this.closeDropdown);
  },
  methods: {
    buttonHandler() {
      if (this.grouped) {
        this.$emit('apply');
        this.closeDropdown();
      } else {
        this.$emit('input', []);
      }
    },
    toggleDropdown() {
      this.showDropdown = !this.showDropdown;
    },
    toggleGroup(group) {
      this.showGroups[group.label] = !this.showGroups[group.label];
    },
    closeDropdown() {
      this.showDropdown = false;
    },
    customChange($event, group) {
      if (this.grouped) {
        return this.$emit('input', {
          group,
          value: $event.target.value,
          add: $event.target.checked,
        });
      }
      if ($event.target.checked) {
        return this.$emit('input', [...this.value, $event.target.value]);
      }
      const updatedValue = this.value.filter(
        (existingValue) => existingValue !== $event.target.value,
      );
      return this.$emit('input', updatedValue);
    },
  },
};
</script>

<template>
  <article class="checkbox-container" @click.stop>
    <div class="dropdown-label" @click.stop="toggleDropdown()">
      <p>{{ filterLabel }}</p>
      <SlpIcon
        :class="showDropdown ? 'open' : ''"
        name="chevron-lg-right"
        variant="product"
      />
    </div>
    <div v-show="showDropdown">
      <div v-if="grouped">
        <div
          v-for="group in optionGroups"
          :key="group.label"
          class="option-group"
        >
          <div class="dropdown-label grouped" @click.stop="toggleGroup(group)">
            <p class="group-label">{{ group.label }}</p>
            <SlpIcon
              :class="showGroups[group.label] ? 'open' : ''"
              name="chevron-lg-right"
              variant="product"
            />
          </div>
          <div
            v-for="option in group.options"
            v-show="showGroups[group.label]"
            :key="option"
            class="checkbox"
          >
            <label>
              {{ option }}
              <input
                :id="option"
                type="checkbox"
                :value="option"
                :name="group.label"
                :checked="value.includes(option)"
                @change="customChange($event, group.label)"
              />
              <span class="checkbox-input"></span>
            </label>
          </div>
        </div>
      </div>
      <div v-else>
        <div v-for="option in options" :key="option" class="checkbox">
          <label :for="option">
            {{ option }}
            <input
              :id="option"
              type="checkbox"
              :value="option"
              :name="filterLabel"
              :checked="value.includes(option)"
              @change="customChange"
            />
            <span class="checkbox-input"></span>
          </label>
        </div>
      </div>
      <button class="reset-btn" @click="buttonHandler">{{ buttonText }}</button>
    </div>
  </article>
</template>

<style lang="scss" scoped>
.group-label {
  font-weight: 600;
}
.checkbox-container {
  border: 1px solid $color-surface-700;
  border-radius: $border-radius-4;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  cursor: pointer;
  width: 215px;
  margin: 0 10px;
  background: white;
  z-index: 1;
  user-select: none;
}

.dropdown-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  &:not(.grouped) {
    margin-bottom: 8px;
  }
  &.grouped {
    height: 40px;
    border: 1px solid #f2f2f2;
    margin-top: $spacing-8 0;
    + .checkbox {
      margin-top: $spacing-24;
    }
  }

  .slp-icon {
    transform: rotate(90deg);
  }

  .slp-icon.open {
    transform: rotate(-90deg);
  }
}

.checkbox {
  margin-bottom: $spacing-16;
  padding-left: 12px;
  padding-right: 12px;

  &:first-of-type {
    margin-top: $spacing-16;
  }

  label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding-left: $spacing-24;
    margin-bottom: $spacing-16;
    line-height: 18px;
  }

  .checkbox-input {
    position: absolute;
    display: inline;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 18px;
    width: 18px;
    border-radius: 1px;

    &:after {
      position: absolute;
      content: '';
      left: 4px;
      bottom: 3px;
      width: 7px;
      height: 12px;
      border: solid $color-surface-50;
      border-width: 0px 3px 3px 0;
      transform: rotate(45deg);
    }
  }

  input:not(:checked) {
    & + .checkbox-input {
      border: 1px solid $color-surface-600;
      background: $color-surface-50;

      &:after {
        display: none;
      }
    }
  }

  input:checked {
    & + .checkbox-input {
      border: 1px solid $color-accent-500;
      background: $color-accent-500;

      &:after {
        display: block;
      }
    }
  }

  input {
    opacity: 0;
    position: absolute;
    height: 0;
    width: 0;
  }
}

.reset-btn {
  outline: none;
  border-top: 1px solid $color-surface-200;
  border-bottom: none;
  border-left: none;
  border-right: none;
  padding-top: 12px;
  text-align: center;
  display: block;
  width: 100%;
  color: $color-text-link-100;
  cursor: pointer;
}
</style>
