<script>
import Vue from 'vue';

export default Vue.extend({
  name: 'KubeconSpeakers',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
    hasGradient: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
});
</script>

<template>
  <div class="kubecon-speakers">
    <SlpContainer>
      <img
        src="/nuxt-images/icons/events/speaker-96px.svg"
        style="width: 32px"
      />
      <SlpTypography variant="heading2-bold" tag="h2" class="slp-pb-24">
        {{ data.title }}
      </SlpTypography>
      <SlpButton
        v-if="data.call_to_action"
        style="color: #e3d6ff; margin-left: -8px"
        variant="ghost"
        :href="data.call_to_action.button_link"
        class="slp-mb-64"
      >
        {{ data.call_to_action.button_text }}
        <SlpIcon
          class="slp-ml-8"
          name="chevron-lg-right"
          variant="product"
          alt="Chevron Right Icon"
        />
      </SlpButton>
      <SlpRow>
        <SlpColumn
          v-for="(speaker, index) in data.speakers"
          :key="index"
          :cols="4"
          class="slp-pr-96"
        >
          <nuxt-img
            :src="`/nuxt-images/events/kubecon/${speaker.image}`"
            class="slp-pb-32"
            style="width: 100%"
            fit="contain"
          />
          <SlpTypography variant="body1-bold" tag="p" class="slp-pb-8">
            {{ speaker.name }}
          </SlpTypography>
          <SlpTypography variant="body2" tag="p" class="slp-pb-8">
            {{ speaker.role }}
          </SlpTypography>
          <SlpTypography variant="body2-bold" tag="p" class="slp-pb-32">
            {{ speaker.organization }}
          </SlpTypography>
          <SlpTypography
            variant="heading5-bold"
            tag="h4"
            style="color: #e3d6ff; font-size: 22px"
          >
            {{ speaker.talk }}
          </SlpTypography>
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
  </div>
</template>

<style lang="scss" scoped>
.kubecon-speakers {
  background: $color-surface-700;
  color: $color-surface-50;
  padding: $spacing-96 0;
}
</style>
